<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="renderer" content="ie-stand" />
    <meta name="robots" content="index,follow" />
    
    <title>武汉首页</title>
    <meta name="keywords" content="首页" />
    <meta name="description" content="首页" />
</head>

<body class="layout">
    <div class="head_box">
        <div class="head_wrapper">
            <div class="head_container clearfix">
                <div class="head_xiaoxun">我坚持,我成功！</div>
                <div class="head_link_box">
                    <a href="" class="head_link_item">雅思
                        
                    </a>
                    <a href="" class="head_link_item">托福</a>
                    <a href="" class="head_link_item">雅思</a>
                    <a href="" class="head_link_item">雅思</a>
                    <a href="" class="head_link_item">雅思</a>
                    <a href="" class="head_link_item">雅思</a>
                    <a href="" class="head_link_item">雅思</a>
                    <a href="" class="head_link_item">雅思</a>
                    <a href="" class="head_link_item">雅思</a>
                    <a href="" class="head_link_item">雅思</a>
                    <a href="" class="head_link_item">雅思</a>
                </div>
                <a class="head_onlineChat">在线咨询</a>
            </div>
        </div>
        <div class="leyu_yspd">
            <div class="leyutop_yspd">
                <a href="http://www.xhd.cn" target="_blank"><span class="img "></span></a>
                <span class="gaofen_yspd"></span>
                <span><span class="img close_ly"></span></span>
            </div>
            <div class="topleyu_yspd">
                <span class="img"></span>
                <ul>
                    <li><a href="http://www.xhd.cn/ielts/" target="_blank">雅思</a></li>
                    <li><a href="http://www.xhd.cn/toefl/" target="_blank">托福</a></li>
                    <li><a href="http://www.xhd.cn/sat/" target="_blank">SAT</a></li>
                    <li><a href="http://www.xhd.cn/ncjqyy/" target="_blank">剑桥英语</a></li>
                    <li><a href="http://www.xhd.cn/ncmgyy/" target="_blank">美国英语</a></li>
                    <li><a href="http://www.xhd.cn/kouyu/" target="_blank">外教口语</a></li>
                    <li><a href="https://static.meiqia.com/dist/standalone.html?eid=43342&amp;groupid=856613ce72331a4139b751c37f9a540b"
                            target="_blank" rel="nofollow">留学游学</a></li>
                    <div class="c"></div>
                </ul>
            </div>
            <div class="leyucenter_yspd">
                <h1>点击咨询 新航道全国学校</h1>
                <ul class="common_city_box clearfix">
                    <li class="common_city_item clearfix">
                        <span class="common_city_region">华北</span>
                        <div class="common_city_wrapper">
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                        </div>
                    </li>
                    <li class="common_city_item clearfix">
                        <span class="common_city_region">华北</span>
                        <div class="common_city_wrapper">
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                        </div>
                    </li>
                    <li class="common_city_item clearfix">
                        <span class="common_city_region">华北</span>
                        <div class="common_city_wrapper">
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                        </div>
                    </li>
                    <li class="common_city_item clearfix">
                        <span class="common_city_region">华北</span>
                        <div class="common_city_wrapper">
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                            <a href="" class="common_city_items">北京</a>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="leyuxia_yspd">
                我坚持，我成功！
            </div>
        </div>
        <div class="toumingbi_yspd"></div>
    </div>
    <div class="app">11123</div>
    <%= require('html-loader!../../components/header.html') %>
    <img src="<%= require('../../assets/images/07.png') %>"  alt="">
    
    <script src="http://m.xhd.cn/static/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>